.gr-1{grid-row-start:1}
.gr-2{grid-row-start:2}
.gr-3{grid-row-start:3}
.gr-4{grid-row-start:4}
.gr-5{grid-row-start:5}
.gr-6{grid-row-start:6}
.gr-7{grid-row-start:7}
.gr-8{grid-row-start:8}
.gr-9{grid-row-start:9}
.gr-10{grid-row-start:10}
.gr-11{grid-row-start:11}
.gr-12{grid-row-start:12}
.gr-13{grid-row-start:13}
.gr-14{grid-row-start:14}
.gr-15{grid-row-start:15}
.gr-16{grid-row-start:16}
.gr-17{grid-row-start:17}
.gr-18{grid-row-start:18}
.gr-19{grid-row-start:19}
.gr-20{grid-row-start:20}
.gr-21{grid-row-start:21}
.gr-22{grid-row-start:22}
.gr-23{grid-row-start:23}
.gr-24{grid-row-start:24}
.gr-25{grid-row-start:25}
.gr-26{grid-row-start:26}
.gr-27{grid-row-start:27}
.gr-28{grid-row-start:28}
.gr-29{grid-row-start:29}
.gr-30{grid-row-start:30}
.gr-31{grid-row-start:31}
.gr-32{grid-row-start:32}
.gr-33{grid-row-start:33}
.gr-34{grid-row-start:34}
.gr-35{grid-row-start:35}
.gr-36{grid-row-start:36}
.gr-37{grid-row-start:37}
.gr-38{grid-row-start:38}
.gr-39{grid-row-start:39}
.gr-40{grid-row-start:40}
.gr-41{grid-row-start:41}
.gr-42{grid-row-start:42}
.gr-43{grid-row-start:43}
.gr-44{grid-row-start:44}
.gr-45{grid-row-start:45}
.gr-46{grid-row-start:46}
.gr-47{grid-row-start:47}
.gr-48{grid-row-start:48}
.gr-49{grid-row-start:49}
.gr-50{grid-row-start:50}
.gr-51{grid-row-start:51}
.gr-52{grid-row-start:52}
.gr-53{grid-row-start:53}
.gr-54{grid-row-start:54}
.gr-55{grid-row-start:55}
.gr-56{grid-row-start:56}
.gr-57{grid-row-start:57}
.gr-58{grid-row-start:58}
.gr-59{grid-row-start:59}
.gr-60{grid-row-start:60}
.gr-61{grid-row-start:61}
.gr-62{grid-row-start:62}
.gr-63{grid-row-start:63}
.gr-64{grid-row-start:64}
.gr-65{grid-row-start:65}
.gr-66{grid-row-start:66}
.gr-67{grid-row-start:67}
.gr-68{grid-row-start:68}
.gr-69{grid-row-start:69}
.gr-70{grid-row-start:70}
.gr-71{grid-row-start:71}
.gr-72{grid-row-start:72}
.gr-73{grid-row-start:73}
.gr-74{grid-row-start:74}
.gr-75{grid-row-start:75}
.gr-76{grid-row-start:76}
.gr-77{grid-row-start:77}
.gr-78{grid-row-start:78}
.gr-79{grid-row-start:79}
.gr-80{grid-row-start:80}
.gr-81{grid-row-start:81}
.gr-82{grid-row-start:82}
.gr-83{grid-row-start:83}
.gr-84{grid-row-start:84}
.gr-85{grid-row-start:85}
.gr-86{grid-row-start:86}
.gr-87{grid-row-start:87}
.gr-88{grid-row-start:88}
.gr-89{grid-row-start:89}
.gr-90{grid-row-start:90}
.gr-91{grid-row-start:91}
.gr-92{grid-row-start:92}
.gr-93{grid-row-start:93}
.gr-94{grid-row-start:94}
.gr-95{grid-row-start:95}
.gr-96{grid-row-start:96}
.gr-97{grid-row-start:97}
.gr-98{grid-row-start:98}
.gr-99{grid-row-start:99}
.gr-100{grid-row-start:100}
.gr-101{grid-row-start:101}
.gr-102{grid-row-start:102}
.gr-103{grid-row-start:103}
.gr-104{grid-row-start:104}
.gr-105{grid-row-start:105}
.gr-106{grid-row-start:106}
.gr-107{grid-row-start:107}
.gr-108{grid-row-start:108}
.gr-109{grid-row-start:109}
.gr-110{grid-row-start:110}
.gr-111{grid-row-start:111}
.gr-112{grid-row-start:112}
.gr-113{grid-row-start:113}
.gr-114{grid-row-start:114}
.gr-115{grid-row-start:115}
.gr-116{grid-row-start:116}
.gr-117{grid-row-start:117}
.gr-118{grid-row-start:118}
.gr-119{grid-row-start:119}
.gr-120{grid-row-start:120}
.gr-121{grid-row-start:121}
.gr-122{grid-row-start:122}
.gr-123{grid-row-start:123}
.gr-124{grid-row-start:124}
.gr-125{grid-row-start:125}
.gr-126{grid-row-start:126}
.gr-127{grid-row-start:127}
.gr-128{grid-row-start:128}
.gr-129{grid-row-start:129}
.gr-130{grid-row-start:130}
.gr-131{grid-row-start:131}
.gr-132{grid-row-start:132}
.gr-133{grid-row-start:133}
.gr-134{grid-row-start:134}
.gr-135{grid-row-start:135}
.gr-136{grid-row-start:136}
.gr-137{grid-row-start:137}
.gr-138{grid-row-start:138}
.gr-139{grid-row-start:139}
.gr-140{grid-row-start:140}
.gr-141{grid-row-start:141}
.gr-142{grid-row-start:142}
.gr-143{grid-row-start:143}
.gr-144{grid-row-start:144}
.gr-145{grid-row-start:145}
.gr-146{grid-row-start:146}
.gr-147{grid-row-start:147}
.gr-148{grid-row-start:148}
.gr-149{grid-row-start:149}
.gr-150{grid-row-start:150}
.gr-151{grid-row-start:151}
.gr-152{grid-row-start:152}
.gr-153{grid-row-start:153}
.gr-154{grid-row-start:154}
.gr-155{grid-row-start:155}
.gr-156{grid-row-start:156}
.gr-157{grid-row-start:157}
.gr-158{grid-row-start:158}
.gr-159{grid-row-start:159}
.gr-160{grid-row-start:160}
.gr-161{grid-row-start:161}
.gr-162{grid-row-start:162}
.gr-163{grid-row-start:163}
.gr-164{grid-row-start:164}
.gr-165{grid-row-start:165}
.gr-166{grid-row-start:166}
.gr-167{grid-row-start:167}
.gr-168{grid-row-start:168}
.gr-169{grid-row-start:169}
.gr-170{grid-row-start:170}
.gr-171{grid-row-start:171}
.gr-172{grid-row-start:172}
.gr-173{grid-row-start:173}
.gr-174{grid-row-start:174}
.gr-175{grid-row-start:175}
.gr-176{grid-row-start:176}
.gr-177{grid-row-start:177}
.gr-178{grid-row-start:178}
.gr-179{grid-row-start:179}
.gr-180{grid-row-start:180}
.gr-181{grid-row-start:181}
.gr-182{grid-row-start:182}
.gr-183{grid-row-start:183}
.gr-184{grid-row-start:184}
.gr-185{grid-row-start:185}
.gr-186{grid-row-start:186}
.gr-187{grid-row-start:187}
.gr-188{grid-row-start:188}
.gr-189{grid-row-start:189}
.gr-190{grid-row-start:190}
.gr-191{grid-row-start:191}
.gr-192{grid-row-start:192}
.gr-193{grid-row-start:193}
.gr-194{grid-row-start:194}
.gr-195{grid-row-start:195}
.gr-196{grid-row-start:196}
.gr-197{grid-row-start:197}
.gr-198{grid-row-start:198}
.gr-199{grid-row-start:199}
.gr-200{grid-row-start:200}
.gr-201{grid-row-start:201}
.gr-202{grid-row-start:202}
.gr-203{grid-row-start:203}
.gr-204{grid-row-start:204}
.gr-205{grid-row-start:205}
.gr-206{grid-row-start:206}
.gr-207{grid-row-start:207}
.gr-208{grid-row-start:208}
.gr-209{grid-row-start:209}
.gr-210{grid-row-start:210}
.gr-211{grid-row-start:211}
.gr-212{grid-row-start:212}
.gr-213{grid-row-start:213}
.gr-214{grid-row-start:214}
.gr-215{grid-row-start:215}
.gr-216{grid-row-start:216}
.gr-217{grid-row-start:217}
.gr-218{grid-row-start:218}
.gr-219{grid-row-start:219}
.gr-220{grid-row-start:220}
.gr-221{grid-row-start:221}
.gr-222{grid-row-start:222}
.gr-223{grid-row-start:223}
.gr-224{grid-row-start:224}
.gr-225{grid-row-start:225}
.gr-226{grid-row-start:226}
.gr-227{grid-row-start:227}
.gr-228{grid-row-start:228}
.gr-229{grid-row-start:229}
.gr-230{grid-row-start:230}
.gr-231{grid-row-start:231}
.gr-232{grid-row-start:232}
.gr-233{grid-row-start:233}
.gr-234{grid-row-start:234}
.gr-235{grid-row-start:235}
.gr-236{grid-row-start:236}
.gr-237{grid-row-start:237}
.gr-238{grid-row-start:238}
.gr-239{grid-row-start:239}
.gr-240{grid-row-start:240}
.gr-241{grid-row-start:241}
.gr-242{grid-row-start:242}
.gr-243{grid-row-start:243}
.gr-244{grid-row-start:244}
.gr-245{grid-row-start:245}
.gr-246{grid-row-start:246}
.gr-247{grid-row-start:247}
.gr-248{grid-row-start:248}
.gr-249{grid-row-start:249}
.gr-250{grid-row-start:250}
.gr-251{grid-row-start:251}
.gr-252{grid-row-start:252}
.gr-253{grid-row-start:253}
.gr-254{grid-row-start:254}
.gr-255{grid-row-start:255}
.gr-256{grid-row-start:256}
.gr-257{grid-row-start:257}
.gr-258{grid-row-start:258}
.gr-259{grid-row-start:259}
.gr-260{grid-row-start:260}
.gr-261{grid-row-start:261}
.gr-262{grid-row-start:262}
.gr-263{grid-row-start:263}
.gr-264{grid-row-start:264}
.gr-265{grid-row-start:265}
.gr-266{grid-row-start:266}
.gr-267{grid-row-start:267}
.gr-268{grid-row-start:268}
.gr-269{grid-row-start:269}
.gr-270{grid-row-start:270}
.gr-271{grid-row-start:271}
.gr-272{grid-row-start:272}
.gr-273{grid-row-start:273}
.gr-274{grid-row-start:274}
.gr-275{grid-row-start:275}
.gr-276{grid-row-start:276}
.gr-277{grid-row-start:277}
.gr-278{grid-row-start:278}
.gr-279{grid-row-start:279}
.gr-280{grid-row-start:280}
.gr-281{grid-row-start:281}
.gr-282{grid-row-start:282}
.gr-283{grid-row-start:283}
.gr-284{grid-row-start:284}
.gr-285{grid-row-start:285}
.gr-286{grid-row-start:286}
.gr-287{grid-row-start:287}
.gr-288{grid-row-start:288}
.gs-1{grid-row-end:span 1}
.gs-2{grid-row-end:span 2}
.gs-3{grid-row-end:span 3}
.gs-4{grid-row-end:span 4}
.gs-5{grid-row-end:span 5}
.gs-6{grid-row-end:span 6}
.gs-7{grid-row-end:span 7}
.gs-8{grid-row-end:span 8}
.gs-9{grid-row-end:span 9}
.gs-10{grid-row-end:span 10}
.gs-11{grid-row-end:span 11}
.gs-12{grid-row-end:span 12}
.gs-13{grid-row-end:span 13}
.gs-14{grid-row-end:span 14}
.gs-15{grid-row-end:span 15}
.gs-16{grid-row-end:span 16}
.gs-17{grid-row-end:span 17}
.gs-18{grid-row-end:span 18}
.gs-19{grid-row-end:span 19}
.gs-20{grid-row-end:span 20}
.gs-21{grid-row-end:span 21}
.gs-22{grid-row-end:span 22}
.gs-23{grid-row-end:span 23}
.gs-24{grid-row-end:span 24}
.gs-25{grid-row-end:span 25}
.gs-26{grid-row-end:span 26}
.gs-27{grid-row-end:span 27}
.gs-28{grid-row-end:span 28}
.gs-29{grid-row-end:span 29}
.gs-30{grid-row-end:span 30}
.gs-31{grid-row-end:span 31}
.gs-32{grid-row-end:span 32}
.gs-33{grid-row-end:span 33}
.gs-34{grid-row-end:span 34}
.gs-35{grid-row-end:span 35}
.gs-36{grid-row-end:span 36}
.gs-37{grid-row-end:span 37}
.gs-38{grid-row-end:span 38}
.gs-39{grid-row-end:span 39}
.gs-40{grid-row-end:span 40}
.gs-41{grid-row-end:span 41}
.gs-42{grid-row-end:span 42}
.gs-43{grid-row-end:span 43}
.gs-44{grid-row-end:span 44}
.gs-45{grid-row-end:span 45}
.gs-46{grid-row-end:span 46}
.gs-47{grid-row-end:span 47}
.gs-48{grid-row-end:span 48}
.gs-49{grid-row-end:span 49}
.gs-50{grid-row-end:span 50}
.gs-51{grid-row-end:span 51}
.gs-52{grid-row-end:span 52}
.gs-53{grid-row-end:span 53}
.gs-54{grid-row-end:span 54}
.gs-55{grid-row-end:span 55}
.gs-56{grid-row-end:span 56}
.gs-57{grid-row-end:span 57}
.gs-58{grid-row-end:span 58}
.gs-59{grid-row-end:span 59}
.gs-60{grid-row-end:span 60}
.gs-61{grid-row-end:span 61}
.gs-62{grid-row-end:span 62}
.gs-63{grid-row-end:span 63}
.gs-64{grid-row-end:span 64}
.gs-65{grid-row-end:span 65}
.gs-66{grid-row-end:span 66}
.gs-67{grid-row-end:span 67}
.gs-68{grid-row-end:span 68}
.gs-69{grid-row-end:span 69}
.gs-70{grid-row-end:span 70}
.gs-71{grid-row-end:span 71}
.gs-72{grid-row-end:span 72}
.gs-73{grid-row-end:span 73}
.gs-74{grid-row-end:span 74}
.gs-75{grid-row-end:span 75}
.gs-76{grid-row-end:span 76}
.gs-77{grid-row-end:span 77}
.gs-78{grid-row-end:span 78}
.gs-79{grid-row-end:span 79}
.gs-80{grid-row-end:span 80}
.gs-81{grid-row-end:span 81}
.gs-82{grid-row-end:span 82}
.gs-83{grid-row-end:span 83}
.gs-84{grid-row-end:span 84}
.gs-85{grid-row-end:span 85}
.gs-86{grid-row-end:span 86}
.gs-87{grid-row-end:span 87}
.gs-88{grid-row-end:span 88}
.gs-89{grid-row-end:span 89}
.gs-90{grid-row-end:span 90}
.gs-91{grid-row-end:span 91}
.gs-92{grid-row-end:span 92}
.gs-93{grid-row-end:span 93}
.gs-94{grid-row-end:span 94}
.gs-95{grid-row-end:span 95}
.gs-96{grid-row-end:span 96}
.gs-97{grid-row-end:span 97}
.gs-98{grid-row-end:span 98}
.gs-99{grid-row-end:span 99}
.gs-100{grid-row-end:span 100}
.gs-101{grid-row-end:span 101}
.gs-102{grid-row-end:span 102}
.gs-103{grid-row-end:span 103}
.gs-104{grid-row-end:span 104}
.gs-105{grid-row-end:span 105}
.gs-106{grid-row-end:span 106}
.gs-107{grid-row-end:span 107}
.gs-108{grid-row-end:span 108}
.gs-109{grid-row-end:span 109}
.gs-110{grid-row-end:span 110}
.gs-111{grid-row-end:span 111}
.gs-112{grid-row-end:span 112}
.gs-113{grid-row-end:span 113}
.gs-114{grid-row-end:span 114}
.gs-115{grid-row-end:span 115}
.gs-116{grid-row-end:span 116}
.gs-117{grid-row-end:span 117}
.gs-118{grid-row-end:span 118}
.gs-119{grid-row-end:span 119}
.gs-120{grid-row-end:span 120}
.gs-121{grid-row-end:span 121}
.gs-122{grid-row-end:span 122}
.gs-123{grid-row-end:span 123}
.gs-124{grid-row-end:span 124}
.gs-125{grid-row-end:span 125}
.gs-126{grid-row-end:span 126}
.gs-127{grid-row-end:span 127}
.gs-128{grid-row-end:span 128}
.gs-129{grid-row-end:span 129}
.gs-130{grid-row-end:span 130}
.gs-131{grid-row-end:span 131}
.gs-132{grid-row-end:span 132}
.gs-133{grid-row-end:span 133}
.gs-134{grid-row-end:span 134}
.gs-135{grid-row-end:span 135}
.gs-136{grid-row-end:span 136}
.gs-137{grid-row-end:span 137}
.gs-138{grid-row-end:span 138}
.gs-139{grid-row-end:span 139}
.gs-140{grid-row-end:span 140}
.gs-141{grid-row-end:span 141}
.gs-142{grid-row-end:span 142}
.gs-143{grid-row-end:span 143}
.gs-144{grid-row-end:span 144}
.gs-145{grid-row-end:span 145}
.gs-146{grid-row-end:span 146}
.gs-147{grid-row-end:span 147}
.gs-148{grid-row-end:span 148}
.gs-149{grid-row-end:span 149}
.gs-150{grid-row-end:span 150}
.gs-151{grid-row-end:span 151}
.gs-152{grid-row-end:span 152}
.gs-153{grid-row-end:span 153}
.gs-154{grid-row-end:span 154}
.gs-155{grid-row-end:span 155}
.gs-156{grid-row-end:span 156}
.gs-157{grid-row-end:span 157}
.gs-158{grid-row-end:span 158}
.gs-159{grid-row-end:span 159}
.gs-160{grid-row-end:span 160}
.gs-161{grid-row-end:span 161}
.gs-162{grid-row-end:span 162}
.gs-163{grid-row-end:span 163}
.gs-164{grid-row-end:span 164}
.gs-165{grid-row-end:span 165}
.gs-166{grid-row-end:span 166}
.gs-167{grid-row-end:span 167}
.gs-168{grid-row-end:span 168}
.gs-169{grid-row-end:span 169}
.gs-170{grid-row-end:span 170}
.gs-171{grid-row-end:span 171}
.gs-172{grid-row-end:span 172}
.gs-173{grid-row-end:span 173}
.gs-174{grid-row-end:span 174}
.gs-175{grid-row-end:span 175}
.gs-176{grid-row-end:span 176}
.gs-177{grid-row-end:span 177}
.gs-178{grid-row-end:span 178}
.gs-179{grid-row-end:span 179}
.gs-180{grid-row-end:span 180}
.gs-181{grid-row-end:span 181}
.gs-182{grid-row-end:span 182}
.gs-183{grid-row-end:span 183}
.gs-184{grid-row-end:span 184}
.gs-185{grid-row-end:span 185}
.gs-186{grid-row-end:span 186}
.gs-187{grid-row-end:span 187}
.gs-188{grid-row-end:span 188}
.gs-189{grid-row-end:span 189}
.gs-190{grid-row-end:span 190}
.gs-191{grid-row-end:span 191}
.gs-192{grid-row-end:span 192}
.gs-193{grid-row-end:span 193}
.gs-194{grid-row-end:span 194}
.gs-195{grid-row-end:span 195}
.gs-196{grid-row-end:span 196}
.gs-197{grid-row-end:span 197}
.gs-198{grid-row-end:span 198}
.gs-199{grid-row-end:span 199}
.gs-200{grid-row-end:span 200}
.gs-201{grid-row-end:span 201}
.gs-202{grid-row-end:span 202}
.gs-203{grid-row-end:span 203}
.gs-204{grid-row-end:span 204}
.gs-205{grid-row-end:span 205}
.gs-206{grid-row-end:span 206}
.gs-207{grid-row-end:span 207}
.gs-208{grid-row-end:span 208}
.gs-209{grid-row-end:span 209}
.gs-210{grid-row-end:span 210}
.gs-211{grid-row-end:span 211}
.gs-212{grid-row-end:span 212}
.gs-213{grid-row-end:span 213}
.gs-214{grid-row-end:span 214}
.gs-215{grid-row-end:span 215}
.gs-216{grid-row-end:span 216}
.gs-217{grid-row-end:span 217}
.gs-218{grid-row-end:span 218}
.gs-219{grid-row-end:span 219}
.gs-220{grid-row-end:span 220}
.gs-221{grid-row-end:span 221}
.gs-222{grid-row-end:span 222}
.gs-223{grid-row-end:span 223}
.gs-224{grid-row-end:span 224}
.gs-225{grid-row-end:span 225}
.gs-226{grid-row-end:span 226}
.gs-227{grid-row-end:span 227}
.gs-228{grid-row-end:span 228}
.gs-229{grid-row-end:span 229}
.gs-230{grid-row-end:span 230}
.gs-231{grid-row-end:span 231}
.gs-232{grid-row-end:span 232}
.gs-233{grid-row-end:span 233}
.gs-234{grid-row-end:span 234}
.gs-235{grid-row-end:span 235}
.gs-236{grid-row-end:span 236}
.gs-237{grid-row-end:span 237}
.gs-238{grid-row-end:span 238}
.gs-239{grid-row-end:span 239}
.gs-240{grid-row-end:span 240}
.gs-241{grid-row-end:span 241}
.gs-242{grid-row-end:span 242}
.gs-243{grid-row-end:span 243}
.gs-244{grid-row-end:span 244}
.gs-245{grid-row-end:span 245}
.gs-246{grid-row-end:span 246}
.gs-247{grid-row-end:span 247}
.gs-248{grid-row-end:span 248}
.gs-249{grid-row-end:span 249}
.gs-250{grid-row-end:span 250}
.gs-251{grid-row-end:span 251}
.gs-252{grid-row-end:span 252}
.gs-253{grid-row-end:span 253}
.gs-254{grid-row-end:span 254}
.gs-255{grid-row-end:span 255}
.gs-256{grid-row-end:span 256}
.gs-257{grid-row-end:span 257}
.gs-258{grid-row-end:span 258}
.gs-259{grid-row-end:span 259}
.gs-260{grid-row-end:span 260}
.gs-261{grid-row-end:span 261}
.gs-262{grid-row-end:span 262}
.gs-263{grid-row-end:span 263}
.gs-264{grid-row-end:span 264}
.gs-265{grid-row-end:span 265}
.gs-266{grid-row-end:span 266}
.gs-267{grid-row-end:span 267}
.gs-268{grid-row-end:span 268}
.gs-269{grid-row-end:span 269}
.gs-270{grid-row-end:span 270}
.gs-271{grid-row-end:span 271}
.gs-272{grid-row-end:span 272}
.gs-273{grid-row-end:span 273}
.gs-274{grid-row-end:span 274}
.gs-275{grid-row-end:span 275}
.gs-276{grid-row-end:span 276}
.gs-277{grid-row-end:span 277}
.gs-278{grid-row-end:span 278}
.gs-279{grid-row-end:span 279}
.gs-280{grid-row-end:span 280}
.gs-281{grid-row-end:span 281}
.gs-282{grid-row-end:span 282}
.gs-283{grid-row-end:span 283}
.gs-284{grid-row-end:span 284}
.gs-285{grid-row-end:span 285}
.gs-286{grid-row-end:span 286}
.gs-287{grid-row-end:span 287}
.gs-288{grid-row-end:span 288}
.lane-0-1{margin-left:0%;width:calc(100% - 2px)}
.lane-0-2{margin-left:0%;width:calc(50% - 2px)}
.lane-1-2{margin-left:50%;width:calc(50% - 2px)}
.lane-0-3{margin-left:0%;width:calc(33.3333% - 2px)}
.lane-1-3{margin-left:33.3333%;width:calc(33.3333% - 2px)}
.lane-2-3{margin-left:66.6667%;width:calc(33.3333% - 2px)}
.lane-0-4{margin-left:0%;width:calc(25% - 2px)}
.lane-1-4{margin-left:25%;width:calc(25% - 2px)}
.lane-2-4{margin-left:50%;width:calc(25% - 2px)}
.lane-3-4{margin-left:75%;width:calc(25% - 2px)}
.lane-0-5{margin-left:0%;width:calc(20% - 2px)}
.lane-1-5{margin-left:20%;width:calc(20% - 2px)}
.lane-2-5{margin-left:40%;width:calc(20% - 2px)}
.lane-3-5{margin-left:60%;width:calc(20% - 2px)}
.lane-4-5{margin-left:80%;width:calc(20% - 2px)}
.lane-0-6{margin-left:0%;width:calc(16.6667% - 2px)}
.lane-1-6{margin-left:16.6667%;width:calc(16.6667% - 2px)}
.lane-2-6{margin-left:33.3333%;width:calc(16.6667% - 2px)}
.lane-3-6{margin-left:50%;width:calc(16.6667% - 2px)}
.lane-4-6{margin-left:66.6667%;width:calc(16.6667% - 2px)}
.lane-5-6{margin-left:83.3333%;width:calc(16.6667% - 2px)}
.lane-0-7{margin-left:0%;width:calc(14.2857% - 2px)}
.lane-1-7{margin-left:14.2857%;width:calc(14.2857% - 2px)}
.lane-2-7{margin-left:28.5714%;width:calc(14.2857% - 2px)}
.lane-3-7{margin-left:42.8571%;width:calc(14.2857% - 2px)}
.lane-4-7{margin-left:57.1429%;width:calc(14.2857% - 2px)}
.lane-5-7{margin-left:71.4286%;width:calc(14.2857% - 2px)}
.lane-6-7{margin-left:85.7143%;width:calc(14.2857% - 2px)}
.lane-0-8{margin-left:0%;width:calc(12.5% - 2px)}
.lane-1-8{margin-left:12.5%;width:calc(12.5% - 2px)}
.lane-2-8{margin-left:25%;width:calc(12.5% - 2px)}
.lane-3-8{margin-left:37.5%;width:calc(12.5% - 2px)}
.lane-4-8{margin-left:50%;width:calc(12.5% - 2px)}
.lane-5-8{margin-left:62.5%;width:calc(12.5% - 2px)}
.lane-6-8{margin-left:75%;width:calc(12.5% - 2px)}
.lane-7-8{margin-left:87.5%;width:calc(12.5% - 2px)}
.cols-1{--n:1}
.gcol-1{grid-column-start:1}
.gspan-1{grid-column-end:span 1}
.cols-2{--n:2}
.gcol-2{grid-column-start:2}
.gspan-2{grid-column-end:span 2}
.cols-3{--n:3}
.gcol-3{grid-column-start:3}
.gspan-3{grid-column-end:span 3}
.cols-4{--n:4}
.gcol-4{grid-column-start:4}
.gspan-4{grid-column-end:span 4}
.cols-5{--n:5}
.gcol-5{grid-column-start:5}
.gspan-5{grid-column-end:span 5}
.cols-6{--n:6}
.gcol-6{grid-column-start:6}
.gspan-6{grid-column-end:span 6}
.cols-7{--n:7}
.gcol-7{grid-column-start:7}
.gspan-7{grid-column-end:span 7}
.grow-1{grid-row-start:1}
.grow-2{grid-row-start:2}
.grow-3{grid-row-start:3}
.grow-4{grid-row-start:4}
.grow-5{grid-row-start:5}
.grow-6{grid-row-start:6}
.grow-7{grid-row-start:7}
.grow-8{grid-row-start:8}
.grow-9{grid-row-start:9}
.grow-10{grid-row-start:10}
.grow-11{grid-row-start:11}
.grow-12{grid-row-start:12}
